.big-title{
    color:#000000;
    text-align: center;
    background-color: #ffffff;
    font-size: 80px;
}

body{
    color: #ffffff;
    background-color: #000000;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
  }

.front-h2{
    color:#000000;
    text-align: center;
    background-color: #ffffff;
    font-size: 50px;
}

.food-h{
    text-align: center;
}

.page-change.left{
    text-align: left;
    display: block;
}

a.page-change.right{
    text-align: right;
    display: block;
}

.caption{
    text-align: center;
    font-size: 20px;
}

.table-heading{
    text-decoration: underline;
}

ol {
    list-style-position: inside;
}